name: deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "pnpm"

      - run: pnpm i --frozen-lockfile

      - run: |
          pnpm build
          touch ./out/.nojekyll

      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: out
